<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrhsourav54.letsgo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.vision"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/YOUR_API_KEY" />

        <activity android:name=".Homepage.Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Translator.LanguageAssistant" />
        <activity android:name=".CurrencyConverter.Currency_conv" />
        <activity android:name=".CurrencyConverter.LoginCompany" />
        <activity android:name=".CurrencyConverter.GiveCompanyData" />
        <activity android:name=".CurrencyConverter.viewAgencyDetail" />
        <activity android:name=".Transport.TransportRental" />
        <activity android:name=".Transport.CarRental" />
        <activity android:name=".Transport.PlaneFare" />
        <activity android:name=".Transport.Train.TrainTickets" />
        <activity android:name=".Transport.Train.ShowTicketInformation" />
        <activity android:name=".Transport.Train.TicketTiming"></activity>
    </application>

</manifest>